<%= turbo_frame_tag "edit-customer-details" do %>
  <%= form_with model: Current.user, url: customer_contact_detail_path do |f| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-4">
      <%= f.label :email, "Email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.email_field :email , class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="my-4">
      <%= f.label :address_line_1, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :address_line_1, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="my-4">
      <%= f.label :address_line_1, "Apt/Suite/Box #", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :address_line_2, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="my-4">
        <%= f.label :city, "City", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.text_field :city, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="my-4">
        <%= f.label :state, "State", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.select :state, options_for_select(us_states.map { |k,v| [v, k] }, f.object.state), { },class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="my-4">
        <%= f.label :postal_code, "Zip Code", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.text_field :postal_code, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>
    <div class="my-4">
      <%= f.label :phone_number, "Phone Number", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.telephone_field :phone_number, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="flex justify-end my-8">
      <%= f.submit "Update Contact Details", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  <% end %>
<% end %>