<%= form_with model: [:customer, @vehicle], class: "flex flex-col gap-4" do |f| %>
  <% if @vehicle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :nickname, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_field :nickname, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Seabiscuit" %>
  </div>
  <div class="grid grid-cols-1, md:grid-cols-3 gap-4">
    <div>
      <%= f.label :make, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :make, vehicle_makes_and_models.map  { |k, v| [k.titleize, k]} ,{ },class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Seabiscuit", disabled: @vehicle.requests.any? %>
    </div>
    <div>
      <%= f.label :model, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :model, Vehicle::MODELS.map { |m| [m, m]} ,{ },class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Seabiscuit", disabled: @vehicle.requests.any? %>
    </div>
    <div>
      <%= f.label :color, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :color, Vehicle::COLORS.map { |m| [m.titleize, m]} ,{ },class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Seabiscuit", disabled: @vehicle.requests.any? %>
    </div>
  </div>
  <div>
    <%= f.label :license_plate, "License Plate (Optional)", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_field :license_plate, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "" %>
  </div>
  <div class="col-span-2">
    <div>
      <%= f.submit class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
    <div>
      <%= link_to "Cancel", customer_vehicles_path, class: "block text-center w-full py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
    </div>
  </div>
<% end %><%= vehicle_makes_and_models.dig("Seat") %>