<div class="grid gap-6">
  <div>
    <h1 class="text-3xl mb-4">Payment for #<%= @request.request_number %></h1>
    <div class="flex flex-col gap-4">
      <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Summary</h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @request.location %> <br/>
          <ul role="list" class="divide-y divide-gray-100">
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex gap-x-4">
              </div>
            </li>
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex gap-x-4">
                <div class="flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">Wash Location</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.location %></p>
                </div>
              </div>
            </li>
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex gap-x-4">
                <div class="flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">Service</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.price.service.name %> | <%= @request.price.vehicle_size.name %> | <%= number_to_currency(@request.price.amount * 0.01) %></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--Vendor Card -->
      <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vendor Details</h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="grid grid-cols-3">
            <ul role="list" class="divide-y divide-gray-100">
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex gap-x-4">
                  <div class="flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Business Name</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.vendor.name %></p>
                  </div>
                </div>
              </li>
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex gap-x-4">
                  <div class="flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Contact Details</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.vendor.full_address %></p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.vendor.phone_number %></p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= @request.vendor.email %></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Complete Transaction</h5>
        </a>
        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step guideline process on how to certify for your weekly benefits:</p>
        <%= form_with url: customer_payments_path do |f| %>
          <%= f.hidden_field :request_id, value: @request.id %>
          <div >
            <%= f.label :tip_amount, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </div>
              <%= f.number_field :tip_amount, step: :any, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"10.00" %>
            </div>
          </div>
          <div class="my-4">
            <%= f.submit "Submit Payment", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>