<div class="flex flex-col gap-4">
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Customer Details</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"><%= @user.name %> - Member Since: <%= @user.created_at.strftime("%A %d %b %Y") %></p>
  </div>
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contact Details</h5>
    <%= turbo_frame_tag "edit-customer-details" do %>
      <%= render "customer/contact_details/form" %>
    <% end %>
  </div>
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Password</h5>
    <%= turbo_frame_tag "edit-password" do %>
      <%= render "customer/password_resets/form" %>
    <% end %>
  </div>
  <!-- Payment Details for Customer -->
  <% if @user.customer? %>
    <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Payment Details</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
  <% end%>
</div>