<div class="flex flex-col gap-4">
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Customer Details</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"><%= @user.name %> - Member Since: <%= @user.created_at.strftime("%A %d %b %Y") %></p>
  </div>
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contact Details</h5>
    <%= turbo_frame_tag "edit-customer-details" do %>
      <%= render "customer/contact_details/form" %>
    <% end %>
  </div>
  <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Password</h5>
    <%= turbo_frame_tag "edit-password" do %>
      <%= render "customer/password_resets/form" %>
    <% end %>
  </div>
  <!-- Payment Details for Customer -->
  <% if @user.customer? %>
    <div href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Payment Details</h5>
      <div class="table w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <div class="table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <div class="table-row">
            <div class="table-cell px-6 py-3">Transaction #</div>
            <div class="table-cell px-6 py-3">Outcome</div>
            <div class="table-cell px-6 py-3">Memo</div>
          </div>
        </div>
        <%= render partial: "customer/payments/payment", collection: @user.payments %>
      </div>
    </div>
  <% end%>
</div>