<div class="table-row">
  <div class="table-cell px-6 py-4"><%= payment_method.brand %></div>
  <div class="table-cell px-6 py-4"><%= payment_method.last4 %></div>
  <div class="table-cell px-6 py-4"><%= payment_method.exp_month %>/<%= payment_method.exp_year %></div>
  <div class="table-cell px-6 py-4"><%= payment_method.default %></div>
</div>