<%= form_with url: customer_user_password_resets_path(@user), scope: :user do |pf| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-4">
    <%= pf.label :password_challenge, "Current Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= pf.password_field :password_challenge, required: true, minlength: 8, maxlength: 64, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="my-4">
    <%= pf.label :password, "New Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= pf.password_field :password, required: true, minlength: 8, maxlength: 64, placeholder: "••••••••", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="my-4">
    <%= pf.label :password_confirmation, "Confirm New Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= pf.password_field :password_confirmation, required: true, minlength: 8, maxlength: 64, placeholder: "••••••••", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="flex justify-end">
    <%= pf.submit "Update Password", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
<% end %>