<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mobbwash" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnL2hHkJd2TqqyaFNVXpcpp24Q0iJ-sP8&libraries=places,marker&callback=initMap" async defer data-turbolinks-eval="false"></script>  </head>
  <body>
    <%= render "shared/nav" %>
    <main class="container mx-auto mt-4 px-5 max-w-full md:max-w-[900px] mb-36">
      <%= yield %>
    </main>
    <%= render "shared/flash" %>
    <%= render "shared/bottom_nav", locals: { action: @action } %>
  </body>
</html>
